DerivedData/
build/
**/xcuserdata/

*.xccheckout
*.xcscmblueprint
*.DS_Store

Pods/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/.env

**/Private.xcconfig
